/* playfair-display-regular */
@font-face {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url(playfair-display-regular.woff2) format("woff2");
}

